.darkbody {
    background-color: black;
    color: white;
}

h1 {
    color: grey;
}

.darkbutton {
    background-color: black;
    color: white;
}

.darkbutton:hover {
    background-color: darkslategray;
}

.lightbutton {
    background-color: darkslategray;
}